<h3>NYC PORTFOLIO</h3>



<div class="simple-article-header">
  <!-- Article Published Date & Reading Time -->
  <p class="article-date-read">Published on: 26 June, 2020 - 8 min ago</p>
  
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
      NEW YORK CITY
    </a>
  </h4>

  <!-- Article Author Name & Comment Hyperlink -->
  <p class="article-author-comments">
    <em>by <a href="#">Tommy Yu</a></em> -
    <a class="article-comments" href="#">0 Comments</a>
  </p>

  <!-- Article Social Links -->
  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/474x/f0/e1/1b/f0e11ba432d779ee49b94861a7663ee8.jpg" width="800">
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content">
    <h5><b>A Little Bit About NYC!</b></h5>
    <p><b>New York City (NYC), often called simply New York, is the most populous city in the United States. New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.</b></p>
  </div>

</div>

  <!-- Importing images form graphic.json into graphic design page -->
  <app-portfolio-lightbox portfolioURL = '/assets/graphic.json'></app-portfolio-lightbox>



<!-- End Page Container -->

  <!-- Importing footer into graphic-design page -->
  <app-footer></app-footer>
